body {
    margin: 0;
    background-image: url("/assets/images/bgimage.png");
    position: absolute;
    font-family: "Lora", "serif";
    font-size: 20px;
}

/* /////////////Splash Image///////// */

.splash img {
    max-height: 800px;
}

.banner {
    color: #fbf7f5;
    font-size: 30px;
    background-color: #00999E; 
    height: 50px;
    padding: 0 10px;
}

.splash {
    max-height: 800px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.splash-text {
    position: absolute;
    color: white;
    right: 4%;
    bottom: 4%;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* /////////////Projects//////////////// */

.description {
    font-size: 14px;
}

.card-top {
    height: 80%;
    overflow: auto;
}

.card-bottom {
    height:10%;
    position: absolute;
    bottom:0;
    margin: 30px 0 0 0;
    height: 20%;
}

.card-bottom span {
    margin: 0 10px;
}

#projects .card {
    height: 400px;
}

.activator {
    height:320px;
}

#show-more a{
    height: 40px;
    font-size: 20px;
}

#projects img {
    object-fit: cover;
    overflow: hidden;
}

/* /////////////Proficiencies//////////////// */

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 130px;
    width: 99%;
}

.tech {
    width: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.tech p {
    margin: 0px;
}

#materialize {
    height: 80px;
    margin: 10px 0;
}

/* //////////////sidebar///////////// */

.sidebar {
    width: 200px;
    height: 100%;
    background-color:#fbf7f5;
    position: fixed;
    overflow: hidden;
}

.sidebar img{
    height: 200px;
    border-radius: 50% ;
    margin: 20px auto;
    display: block;
}

.content {
    margin-left: 220px;
}



#res-link {
    color: #00A896;
    margin-top: 20px;
}


@media screen and (max-width: 600px) {
    .content {
        margin: 0;
        padding: 0;
    }
}
